@mixin panel {
  box-sizing: border-box;
  background: $panel-background;
  border: $panel-border;
  border-radius: $panel-radius;
  padding: $mobile-padding;
  box-shadow: $panel-box-shadow;
}
@import 'layout';
@import 'element';
