body.category-site-feedback.category-header {
  #main-outlet-wrapper {
    gap: 0;
    padding: 0;
  }
  #main-outlet {
    padding-top: 0;
    div.above-main-container-outlet {
      &.category-header-widget {
        max-width: 100%;
        .discourse-category-banners {
          .category-title-header {
            background-color: transparent !important;
            border: none;
          }
        }
      }
    }
  }
}
