#list-area,
.users-directory,
.contents.body-page,
.container .user-main,
.docs,
.reviewable {
  @include panel;
}

.search-container {
  @include panel;
  .search-header,
  .search-bar,
  .search-filters,
  .search-filters .search-advanced-filters {
    background: transparent;
  }
}

// Body classes
.admin-interface,
.badges-page,
.groups-page {
  #main-outlet {
    // Render panels on sub-container, else notification banners are within the panel
    .container:not(#main-container) {
      @include panel;
    }
  }
}

// Tags page with adjustments
.tags-page .all-tag-lists {
  @include panel;
  .tags-list:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.tags-page .main-content > hr {
  display: none; //hard-coded line
}

// Topics
.archetype-regular {
  #main-outlet-wrapper #main-outlet {
    @include panel;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.welcome-cta {
  @include panel;
  box-shadow: none;
  margin-bottom: 1rem;
}
