#list-area,
.users-directory,
.contents.body-page,
.container .user-main,
.docs {
  @include panel;
}

.search-container {
  @include panel;
  .search-header,
  .search-bar,
  .search-filters,
  .search-filters .search-advanced-filters {
    background: transparent;
  }
}

// Body classes
.admin-interface,
.badges-page,
.groups-page {
  #main-outlet {
    // Render panels on sub-container, else notification banners are within the panel
    .container:not(#main-container) {
      @include panel;
    }
  }
}
// Topics
.archetype-regular {
  #main-outlet-wrapper #main-outlet {
    @include panel;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.welcome-cta {
  @include panel;
  box-shadow: none;
  margin-bottom: 1rem;
}

//Chat
.chat-channel {
  //adjust core declaration to make space for panel; just 8rem now, needs variable
  height: calc(
    var(--chat-vh, 1vh) * 100 - var(--header-offset, 0px) -
      var(--chat-draft-header-height, 0px) -
      var(--chat-direct-message-creator-height, 0px) -
      var(--composer-height, 0px) - 8rem
  );
}
.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
  border: none;
}
.full-page-chat .main-chat-outlet {
  @include panel;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.chat-composer__wrapper {
  border-radius: $panel-radius;
}
