@mixin panel {
  box-sizing: border-box;
  background: $panel-background;
  border: $panel-border;
  border-radius: $panel-radius;
  padding: $panel-padding;
  box-shadow: $panel-box-shadow;
}

body {
  background-color: $body-background;
}
@if $list-banners == "true" {
  .list-controls {
    margin: 0.75rem 0 0 0;
  }
}

@import "layout";
@import "element";
